<launch>
    <!-- Coordonnées (X,Y,Z) de la caméra virtuelle dans le repère robot -->
    <arg name="X_cam" value="0.0"/>
    <arg name="Y_cam" value="0.0"/>
    <arg name="Z_cam" value="6.0"/>

    <!-- Création de la caméra virtuelle -->
    <node name="virtual_cam" pkg="open_rm" type="rm_virtualcam_to_image">
    </node>

    <!-- Lancement de la simuulation -->
    <node name="morse_sim" pkg="open_rm" type="rm_system_cmd" required="true">
        <param name="command" type="string" value="morse run sim"/>
    </node>

    <!-- Définition des transformations rigides -->
    <!-- robot -> laser -->
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster"
    args="0 0 1 0 0 0 base_link base_laser_link 10"/>
    <!-- robot -> camera virtuelle -->
    <node pkg="tf" type="static_transform_publisher" name="virtual_camera_broadcaster"
    args="$(arg X_cam) $(arg Y_cam) $(arg Z_cam) 1.5708 3.1415 0 base_link camera_frame 10"/>

    <!-- Conversion nappe laser vers nuage de point dans le repère robot -->
    <node name="laser_to_pointCloud" pkg="open_rm" type="rm_laserscan_to_tf_pointcloud">
        <remap from="laser_scan" to="/robot/hokuyo_scan"/>
        <param name="frame" type="string" value="/base_link"/>
    </node>

    <!-- Conversion nuage de point vers image binaire (droites verticales) -->


    <!-- Squelettisation du masque -->
    <node name="skeletonization" pkg="open_rm" type="rm_mask_to_skel">
        <param name="delta" type="double" value="10"/>
        <param name="onlyConnected" type="bool" value="true"/>
        <remap from="input_mask" to="input_image"/>
    </node>
</launch>
