<launch>

    <!-- On lance la simulation désirée avec les TF correspondantes
         Frames :
                - /robot/camera : repère caméra
                - /robot/laser  : repère laser
                - base_link     : repère robot
                - /robot/sol    : repère robot projeté sur le sol
         Topics :
                - /robot/camera/image : Image acquise par la caméra
                - /robot/camera/camera_info : Paramètres intrinsèques de la caméra
                - /robot/laser/scan : Nappe laser
    -->
    <include file="$(find open_rm)/simulations/atrv_labyrinthe/launch.xml"/>

    <!-- Projection nappe laser dans image caméra -->
    <node name="laser_to_image" pkg="open_rm" type="rm_laser_to_image">
        <remap from="/image" to="/robot/camera/image"/>
        <remap from="/laser" to="/robot/laser/scan"/>
        <remap from="camera_frame" to="/robot/camera"/>
        <remap from="laser_frame" to="/robot/laser"/>
    </node>

</launch>
